on:
 push:
   branches: [master]
 pull_request:
   branches: [master]

jobs:
 build:

  runs-on: ubuntu-latest

  steps:
  - name: Check Out Repo
    uses: actions/checkout@v2
  - name: Set up JDK
    uses: actions/setup-java@v1
    with:
      java-version: 1.11
  
  - name: Build with Maven
    run: mvn clean install

  - name: Publish to Docker Hub
    uses: docker/build-push-action@v1
    with:
      username: ${{ secrets.DOCKER_USERNAME }}
      password: ${{ secrets.DOCKER_PASSWORD }}
      repository: RoyCarrascoH/ms-person-type
      tags: ${{ github.run_number }}